/* Orbs Web Page CSS */

@font-face {
    font-family: "Orbitron-Bold";
    src: url("../fonts/Orbitron-Bold.ttf"),
    url("../fonts/Orbitron-Bold.eot"); /* IE */
}

html {
    background: black url("../img/backImage.png") no-repeat center center fixed;
    /* browser support */
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    font-family: Orbitron-Bold;
}

/* scrollable container */
.main {
    position: absolute;
    transition: all .5s;
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
    top: 45%;
    width: 60%;
    color: yellow;
    background-color: rgba(0,0,0,0.7); /* rgb & opacity */
}

.videoPanel {
    position: fixed;
    top: 0;
    padding: 0;
    width: 60%;
    /*max-width: 640px; /* Remove this to make vid larger */
    margin: auto;
    left: 20%;
    right: 20%;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    margin: auto;
    height: 0;
    width:60%;
    overflow: hidden;    
    border: 5px solid gold;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    border-radius: 60%;
    box-shadow: 0 0 30px 20px gold;
    z-index: 1;
}

.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Change navbar setting depending on screen size */
@media screen and (max-height: 450px) {
  .sidenav-left {padding-top: 15px;}
  .menu-buttons a {font-size: 14px;}
}