/* Social Media list */

.socialList {
    position: absolute;
    right: 0px;
}

.socialList a i, .socialList a img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.socialList a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 20px;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding-top: 15%;
    padding-bottom: 20%;
}

.socialList a:hover i, .socialList a:hover img {
    position:relative;
    right: 10px;
}

.socialList .fa-facebook {
    background: #3b5998;
}

.socialList .fa-twitter {
    background: #00aced;
}

.socialList .fa-youtube {
    background: #ff4b39;
}

.socialList .fa-twitch {
    background: #6441A5;
}

.socialList .fa-steam-square {
    background: #383838;
}
