/* Nav Bar */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-top: 100px;
}

.sidenav-left {
    left: 0;
}

.sidenav-right {
    right: 0;
}

.menu-buttons {
    width: 20%;
}

.collapse-btn {
    width: 0;
    color: yellow;
    transition: all 0.3s ease-in-out;
}

.menu-buttons a {
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-in-out;
    color: yellow;
}

.stripedNav {
    background-color: #777700;
}

.sidenav-left a:hover, .collapse-btn #collapseLeftbtn:hover, .sidenav-right a:hover, .collapse-btn #collapseRightbtn:hover {
    color: white;
    opacity: .7;
}

.sidenav-left .closebtn, .collapse-btn #collapseLeftbtn, .sidenav-right .closebtn, .collapse-btn #collapseRightbtn {
    position: absolute;
    top: 10px;
    font-size: 36px;
    cursor:pointer;
}

.sidenav-left .closebtn, .collapse-btn #collapseLeftbtn {
    left: 5px;
}

.sidenav-right .closebtn, .collapse-btn #collapseRightbtn {
    right: 5px;
}
