/* Nav Bar */

.sidenav {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sidenav-left {
    left: 0;
    padding-top: 20%;
}

.sidenav-right {
    right: 0;
    padding-top: 15%;
}

.menu-buttons, .social-buttons {
    width: 25%;
}

.menu-buttons a, .social-buttons a {
    z-index: 2;
    width: auto;
    display: block;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    text-decoration: none;
    color: yellow;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-buttons a span img {
    width: 0;
    vertical-align: middle;
    visibility: hidden;
    /*transition: all 0.3s ease-in-out; */
}

.sidenav-left a {
    margin: 10px;
}

/*.stripedNav {
    background-color: #777700;
}

.sidenav-left a:hover {
    color: black;
    background: gold;
    box-shadow: 0 0 15px 10px gold;
    text-decoration: none;
    width: auto;
}*/

.sidenav-left a:hover span img {
    width: 14px; /* same as menu-buttons a font-size */
    visibility: visible;
}

@media screen and (max-width: 768px) { 
    .menu-buttons a { font-size: 10px; }
}