/* Nav Bar */

.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    display: table;
    overflow-x: hidden;
    z-index: 1;
}

.sidenav a {
    z-index: 2;
    width: auto;
    display: block;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    text-decoration: none;
}

.alignNav {
    display: table-cell;
    vertical-align: middle;
}

/*
 *
 * Menu buttons
 *
 */

.sidenav-left {
    left: 0;
}

.sidenav-left a {
    color: yellow;
    margin: 10px;
}

.sidenav-left a span img {
    width: 0;
    vertical-align: middle;
    visibility: hidden;
}

.sidenav-left a:hover span img {
    width: 14px;
    visibility: visible;
}

/*
 *
 * Social Media buttons
 *
 */

.sidenav-right {
    right: 0;
}

.sidenav-right a {
    position: relative;
    text-align: right;
}

.sidenav-right a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav-right a img {
    vertical-align: middle;
}

.sidenav-right a:hover {
    right: 10px;
}

/* icon background color */
.sidenav-right .fa-facebook {
    background: #3b5998;
}

.sidenav-right .fa-twitter {
    background: #00aced;
}

.sidenav-right .fa-youtube {
    background: #ff4b39;
}

.sidenav-right .fa-twitch {
    background: #6441A5;
}

.sidenav-right .fa-steam-square {
    background: #383838;
}

.sidenav-right .fa-wordpress {
    background: #04769C;
}

.sidenav-right .fa-wikipedia-w {
    background: #C7C8CA;
    color: #000;
}

/* text color */
#indiedb {
    color: #77C628;
}

#youtube {
    color: #ff4b39;
}

#twitter {
    color: #00aced;
}

#wordpress {
    color: #04769C;
}

#twitch {
    color: #6441A5;
}

#facebook {
    color: #3b5998;
}

#wiki {
    color: #C7C8CA;
}

#itch {
    color: #383838;
}

#gamejolt {
    color: #383838;
}

#steam {
    color: #383838;
}

@media screen and (max-width: 768px) { 
    .sidenav-left a { font-size: 10px; }
}