/* Orbs Web Page CSS */

@font-face {
    font-family: "Orbitron-Bold";
    src: url("../fonts/Orbitron-Bold.ttf"),
    url("../fonts/Orbitron-Bold.eot"); /* IE */
}

html {
    background: black url("../img/backImage.png") no-repeat center center fixed;
    /* browser support */
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    font-family: Orbitron-Bold;
}

/* Left Nav Bar */

#collapseLeftbtn {
    visibility: hidden;
}

.sidenav-left {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

.sidenav-left a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: yellow;
    transition: 0.3s
}

.stripedNav {
    background-color: #777700;
}

.sidenav-left a:hover, .offcanvas a:focus{
    color: white;
    opacity: .7;
}

.sidenav-left .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
}

/* Right Nav Bar */

#collapseRightbtn {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
}

.sidenav-right {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

.sidenav-right a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: yellow;
    transition: 0.3s
}

.sidenav-right a:hover, .offcanvas a:focus{
    color: white;
    opacity: .7;
}

.sidenav-right .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
}

/* Social Media list */

.socialList {
    overflow: auto;
}

.socialList li {
    list-style: none;
    float: left;
}

.socialList li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    margin-right: 5px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

.socialList li a i:hover {
    opacity: .7;
}

.socialList .fa-facebook {
    background: #3b5998;
}

.socialList .fa-twitter {
    background: #00aced;
}

.socialList .fa-youtube {
    background: #ff4b39;
}

.socialList .fa-twitch {
    background: #6441A5;
}

/* Main body container */
#main {
    transition: all .5s;
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 100%;
    color: yellow;
}

/* Change navbar setting depending on screen size */
@media screen and (max-height: 450px) {
  .sidenav-left {padding-top: 15px;}
  .sidenav-left a {font-size: 18px;}
}